<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top px-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Favorite Links</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Links
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/links">All links</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/links/add">Add new link</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{user.username}}
            <img src="/img/Logo.jpg" width="30" height="30" class="d-inline-block align-top">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/profile">Your profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link text-uppercase"> Login</a>
        </li>
        {{/if}}

      </ul>
    </div>
  </div>
</nav>